# Particular to this project
# (generated models)
etc/.*
etc/clauseSearcherModel.ser.gz
etc/clauseSplitterModel.ser.gz
etc/clauseSplitterModel_small.ser.gz
etc/clauseSearcherData.tab.gz
etc/edgeTypes.tab
etc/graph.tab.gz
etc/graphData.tar.gz
etc/graphData/
etc/pp.tab.gz
etc/privative.tab.gz
etc/sense.tab.gz
etc/subj_obj_pp.tab.gz
etc/subj_pp.tab.gz
etc/subj_pp_obj.tab.gz
etc/subj_pp_pp.tab.gz
etc/obj.tab.gz
etc/vocab.tab.gz
etc/wordnet.ser.gz
etc/wordnet.tab.gz
etc/naturalli_raw_graph_data.tar.gz
# (auxilliary tests)
test/data/perfcase_fracas_failing.examples
# (generated sources)
src/Models.cc
src/Models.h
src/fnv/longlong.h
# (programs)
src/hash_tree
src/write_kb
src/naturalli
src/naturalli_featurize
src/naturalli_search
test/src/naturalli_test
test/src/naturalli_itest
# (tmp files)
tmp
# (misc)
log
src/knheap/testPerformance
test/src/gtest/lib
# (prohibited/large data)
*aristo*
*snli*
# (releases)
naturalli-*.tar.gz

# Java
classes/**
build/**
test/build
*.jar
*.class

.idea/*

# Test output
*.junit.xml
*Test.xml
*.gcno
.attach_*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Automake
Makefile
Makefile.in
configure
configure.in
config.*
install-sh
libtool
ltmain.sh
aclocal.m4
m4/libtool.m4
m4/lt*
missing
.deps
depcomp
autom4te.cache
stamp-h1
compile
test-driver

# Tags
TAGS

# Vim
.*.swp

# Latex
*.aux
*.log
*.nav
*.snm
*.toc
*.pdf
*.bak
*.bbl
*.blg
comments.txt

# Python
__pycache__/
*.py[cod]
*$py.class
