body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-query .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
}
.form-query .form-control:focus {
  z-index: 2;
}
